<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Site.css" />
    <title>@ViewBag.Title - TournamentPro</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        #layoutListButton{
    height : 65px;
    width : 65px;
    opacity: 0;
    z-index: 5;
    position: relative;
    top: 30px;
    right: 33px;
}
#collapseButton{
    height: 80px;
    width: 80px;
    position:relative;
    left: 35px;
    bottom: -5px;
}
        #LayoutLogo{
            position:relative;
            left: 10%;
            width: 30%;
            height: 7%;
        }
        body{
            background-color: lightblue;
        }
        .navbar-header{
            background-color: #e9ecef;
            width: 100%;
            border-top-left-radius: 0.3rem;
            border-top-right-radius: 0.3rem;
        }
        .navbar-collapse{
            background-color: #e9ecef;
            border-bottom-left-radius: 0.3rem;
            border-bottom-right-radius: 0.3rem;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img src="~/AssetsFolder/output-onlinepngtools (2).png" alt="CollapsableButton" id="collapseButton" />
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" id="layoutListButton">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a  id="LayoutLogo" href="@Url.Action("Index","Home")">
                <img src="~/AssetsFolder/TournamentProTransparent.png" id="LayoutLogo"/>
                </a>

                @*@Html.ActionLink("TourneyPro", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Tournaments", "Index", "Tournament")</li>
                    <li>@Html.ActionLink("Events", "Index", "Event")</li>
                    <li>@Html.ActionLink("Users", "Index", "SiteUser")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
